<h1>Chat Room</h1>
<div id="message">
  <%= render @messages %>
  <%# <%= render partial: 'messages/message', collection: @messages と同値 メッセージ毎にmessages/_message.html.erbを適用 %> 
  <%# renderメソッド。呼び出すテンプレートファイルを指定。 render ファイル名（アクション名） %>
</div>